@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@200;400;600&display=swap');

body {
  font-family: 'Gothic A1', sans-serif;
}

#header {
  border: 1px solid;
  text-align: center;
}

#container {
  width: 100%;
  height: 500px;
  border: 1px solid;
}

#sidebar {
  margin: 5px;
  float: left;
  border: 1px solid;
  width: 20%;
  background-color: black;
  color: white;
  height: 95%;
}

#contents {
  margin: 5px;
  float: right;
  border: 1px solid;
  height: 95%;
}

.flex-container .box {
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
