@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@200;400;600&display=swap');

body {
  font-family: 'Gothic A1', sans-serif;
}

* {
  box-sizing: border-box;
}

#header {
  border: 1px solid;
  text-align: center;
}

#container {
  display: flex;
  align-items: stretch;
}

#container > div {
  margin: 10px;
  background-color: gray;
}

.contents {
  display: flex;
  flex-wrap: wrap;
}

.contents > div {
  background-color: red;
  width: 300px;
  height: 300px;
  margin: 10px;
  line-height: 75px;
}
