@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@200;400;600&display=swap');

body {
  font-family: 'Gothic A1', sans-serif;
}

@media all and (min-width: 769px) {

  #container {
    display: grid;
    grid-template-rows: repeat(5, 200px);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
  #header {
    grid-column: span 4;
    text-align: center;
    background-color: gray;
  }

  #intro, #edu, #project, #etc {
    grid-column: span 2;
    grid-row: span 2;
    background-color: gray;
  }
}

@media (max-width: 768px){

  #container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }

  #header {
    text-align: center;
    background-color: gray;
  }

  #intro, #edu, #project, #etc {
    min-height: 200px;
    background-color: gray;
  }
}
